$black: #000;
$yellow: #FE0;
$red: #F00;
$blue: #02F;
$white: #FFF;

:local .outer {
  border-left: 20px solid $yellow;
  border-right: 20px solid $yellow;
  width: 300px;
  padding-bottom: 2px;
  background: $black;
  word-break: break-all;
}

:local .inner {
  padding-top: 10px;
  border-left: 20px solid $black;
  border-right: 20px solid $black;
  background: $yellow;
}

:local .top {
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin: 5px 0;
}

:local .main {
  background: $blue;
  color: $white;
  padding: 5px 0;
  margin: 0 5px;
}

:local .real {
  font-size: 30px;
  margin: 5px 0;
}

:local .brand {
  margin: 0 10px;
  padding: 5px 0;
  background: $red;
  border: 3px solid $yellow;
  border-radius: 20px;
  font-size: 80px;
  font-weight: bold;
  transform: scaleY(0.90);
}

:local .year {
  font-size: 80px;
  font-weight: bold;
}

:local .small {
  color: $yellow;
}

:local .sub {
  margin: 10px 0;
  padding: 2px 0;
  border: 4px solid $red;
  border-radius: 2px;
  background: $yellow;
  color: $red;
}

:local .big {
  font-size: 180px;
  font-weight: bold;
  color: $yellow;
  transform: scaleX(1.30);
  margin: 10px 0;
}

:local .footer {
  border: 2px solid $yellow;
  border-radius: 10px;
  background: $red;
  margin: 0 5px;
  color: $white;
}

:local .footerTitle {
  margin: 5px 0;
  font-size: 50px;
  font-weight: normal;
  transform: scaleX(0.9);
}

:local .footerText {
  font-size: 40px;
  transform: scaleX(0.9);
  margin: 5px 0;
}

:local .excited {
  font-size: 14px;
  color: #CCC;

  padding: 10px 0;

  a, a:visited {
    color: #CCC;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
